{% extends "layout.html" %}
{% block content %}
    <h1>Agregar firma a documento digital</h1>
            <div class="form-group">
                <label for="docFile">Selecciona el documento (.*) que deseas firmar</label>
                <input class="btn form-control-file" type="file" value=""
                name="docFile" id="docFile" accept=".txt,.doc,.docx,.pdf">
            </div>

            <div class="form-group">
                <label for="privKeyFile">Selecciona tu llave privada (.key)</label>
                <input class="btn form-control-file" type="file" value=""
                name="privKeyFile" id="privKeyFile" accept=".key">
            </div>

            <div class="form-group">
                <label for="signFile">Selecciona la firma del documento (.sig)</label><br>
                <input class="btn form-control-file" type="file" value=""
                name="signFile" id="signFile" accept=".sig">
            </div>
        <input class="btn btn-outline-primary" type="submit" name="sign_doc" id="sign_doc" value="Agregar Firma al Documento">
  

    <div id="server_response">
        <br><br>
    </div>

    <script>
        var signature, doc_digest, privateKey;
        var doc_name, prev_sign_name;
        $(document).ready(function(){
            
            $('#docFile').change(function(e){
                const fileList = event.target.files;
                var file = event.target.files[0];
                doc_name = file.name;
                var reader = new FileReader();
                reader.onload = function(event) {
                    data = event.target.result;
                    var md = forge.md.sha512.create();
                    md.update(data);
                    doc_digest = md
                };
                reader.readAsBinaryString(file);
            });

            $('#signFile').change(function(e){
                const fileList = event.target.files;
                var file = event.target.files[0];
                prev_sign_name = file.name;
            });

            $('#privKeyFile').change(function(e){
                const fileList = event.target.files;
                var file = event.target.files[0];
                var reader = new FileReader();
                var pki = forge.pki;
                reader.onload = function(event) {
                    privateKey = pki.privateKeyFromPem(event.target.result);
                };
                reader.readAsBinaryString(file);
            });
            
            $('#sign_doc').click(function() {
                signature = privateKey.sign(doc_digest, scheme='RSASSA-PKCS1-V1_5');
                signature = btoa(signature);
                $.ajax({
                    url:"/sign_add_process",
                    type:"GET",
                    data: { signature_js: signature, document_name_js: doc_name , 
                            prev_sign_name_js: prev_sign_name},
                    success: function(response){
                        data = response
                        server_response = data
                        href_file = '/download_sign_document?file_sign=' + data
                        if (server_response == "cert_expired"){
                            HTML_response = '<p>El certificado ha expirado.</p>';
                        } else if(server_response == "invalid_session"){
                            HTML_response = '<p>No ha inicado sesión. Favor de iniciar sesión en el menu Login de la esquina superior derecha."</p>';
                        }else if(server_response == "error"){
                            HTML_response = '<p>Error inesperado Vuelve a intentar mas tarde.</p>';
                        }else{
                            HTML_response = '<label for="' + data + '">Decargar Firma Digital (.sig)</label> \
                            <a href="' + href_file + '" class="btn btn-primary">' + data + '</a>';
                        }
                        $('#server_response').html(HTML_response);

                    },
                    error: function(error){
                    //console.log(error);
                    },
                });
            });

            

        });
    </script>
{% endblock content %}